.button
    padding: 10px 22px
    border: none
    border-radius: 2px
    text-transform: uppercase
    font-size: 0.947rem
    &:hover
        cursor: pointer
    &--primary
        background-color: $primary
        color: $light
        box-shadow: 0px 5px 15px rgba($primary, 0.2)
        // transition: box-shadow 0.3s
        transition: 0.2s
        border: 1px solid transparent
        &:hover
            box-shadow: none
            background-color: transparent
            border: 1px solid $light
    &--outline
        border: 1px solid $light
        background-color: transparent
        color: $light
        transition: box-shadow 0.2s
        &:hover
            background-color: $primary
            box-shadow: 0px 5px 15px rgba($primary, 0.2)
            border: 1px solid $primary
.label
    font-size: 1.07rem
    &--light
        color: rgba($light, 0.5)
.input
    background-color: transparent
    border: none
    border-bottom: 1px solid rgba(54, 54, 54, 0.3)
    font-size: 1.285rem
    line-height: 1.785rem
    font-style: normal
    font-weight: 500
    color: $light
    padding: 0.3rem 0
    &--light
        &::placeholder
            color: $light
.policy
    font-style: normal
    font-weight: normal
    font-size: 1.14rem
    line-height: 1.571rem
    &__checkbox
        opacity: 0
        visibility: hidden
        &:checked +
            .policy__label
                font-style: normal
                font-weight: normal
                font-size: 1.14rem
                line-height: 1.571rem
                &::before
                    background: $primary url('../img/check.svg') no-repeat center / 0.8rem
    &__label
        display: flex
        align-items: center
        font-size: 1.142rem
        &::before
            content: ''
            width: 18px
            height: 18px
            border: 1px solid $primary
            border-radius: 1px
            cursor: pointer
            margin-right: 0.64rem
        &--center
            justify-content: center
label
    &.invalid
        color: tomato
        margin-top: 0.6rem
input
    &.invalid
        border-bottom: 1px solid tomato

// .back-to-top
//     position: fixed
//     right: 10px
//     bottom: 200px
//     width: 50px
//     height: 50px
//     border-color: transparent
//     border-radius: 50%
//     background-color: $primary
//     &:hover, &:focus
//         filter: brightness(1.5)
//         outline: none
//     &::before, &::after
//         content: ''
//         position: absolute
//         top: 50%
//         left: 50%
//         transform: translate (-50%, -50%)
//     &::before
//         width: 5px
//         height: 25px
//         border-top-left-radius: 3px
//         border-top-right-radius: 3px
//         background-color: $light
//     &::after
//         width: 15px
//         height: 15px
//         transform: translate (-50%, -50%) rotate(45deg)
//         border-top: 5px solid $light
//         border-left: 5px solid $light