@media screen and ( max-width: 1400px )
  .section
    &-title
      &__heading
        &--primary
          font-size: 1.89rem
          line-height: 2.64rem
          margin-bottom: 1.7rem
  .nav
    &__item
      margin-right: 1.8rem 
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .swiper
    &-slide
      &__text
        flex-basis: 50% 
    &-button
      &-prev, &-next
        width: 4rem
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .section
    &-title
      &__text
        max-width: 26.5rem
        margin-bottom: 2.15rem
@media screen and ( max-width: 940px )
  .projects
    padding-top: 3rem
  .swiper
    &-slider
      &-image
        margin: 0
    &-wrapper
      margin-bottom: 2rem
  .mobile
    &-order
      &-top
        order: -1
  .section
    &-title
      &--left
        display: flex
        justify-content: center
        text-align: center
        flex-wrap: wrap
        max-width: 90%
        margin: auto
      &__word
        display: flex
        justify-content: center
        text-align: center
        &::after
          display: none
      &__text
        max-width: 90%
        margin: auto
        margin-bottom: 1rem
  .col
    &-40
      width: 70%
    &-60
      width: 80%
@media screen and ( max-width: 768px )
  .section
    &-title
      display: flex
      flex-direction: column
  .swiper
    &-slider
      &-image
        margin-top: 0
  .mobile
    &-order
      &-top
        order: -1
  .col
    &-40
      width: 90%
    &-60
      width: 100%
@media screen and ( max-width: 576px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
    &__scroll-down
      display: none
  .control
    background-color: $dark
    color: $light
    &__form
      display: flex
      flex-direction: column
    &__input
      color: $light 
      &-group
        margin-bottom: 2rem
    &__button
      order: 1
      margin-top: 4.428rem
      margin-bottom: -6.65rem
      &:hover
        background-color: $light
        color: $primary
        box-shadow: 0px 5px 15px rgba($primary, 0.3)
  .footer
    &__title
      &--primary
        width: 23.8rem
        font-size: 1.5rem
        line-height: 141.6%
    &__menu
      margin-top: -8rem
  .ymaps-2-1-75-map
    max-height: 25rem
@media screen and ( max-height: 495px )
  .hero
    &__scroll-down
      display: none
@media screen and ( max-width: 375px )
  .container
    width: 90%
  .header
    padding: 2rem 0
  .menu
    &__logo
      line-height: 1rem
  .hero
    &::after
      display: none
    &__content
      max-width: 100%
      top: -1.5rem 
    &__title
      font-weight: normal
      font-size: 2rem
    &__text
      max-width: 26.5rem
      font-size: 1.5rem
      line-height: 135.84%
      margin-bottom: 2.7rem
    &__button
      width: 100%
      font-size: 0.9rem
      padding: 1.6rem 5rem
  .section
    &-title
      &--left
      margin-top: -2rem
      &__heading
        &--primary
          font-size: 1.8rem
          line-height: 139%
          margin-bottom: 2rem 
      &__text
        font-size: 1.2rem
        line-height: 158.48%
        max-width: 100%
        margin-bottom: 3.25rem
  .swiper
    &-slide
      &__heading
        font-size: 1.15rem
        line-height: 138.6%
        margin-bottom: 0.8rem
      &__value
        font-size: 1.15rem
        line-height: 138%
      &__text
        flex-basis: 47%
        margin-bottom: 2.2rem
    &-slider
      &-image
        height: 16.95rem
        margin: 0
        margin-bottom: 2.5rem
  .col
    &-40
      width: 100%
  .control
    padding-bottom: 6rem
    &__section-title
      margin-bottom: 3.45rem
      margin-top: -27.8rem
    &__video
      background: url('../img/video-mask-small.jpg') center no-repeat 
      min-height: 17.2rem
      margin-top: 2rem
      margin-bottom: 2.5rem
    &__text
      font-size: 1.15rem
      line-height: 174.8%
      margin-bottom: 2.4rem 
      &::before
        margin-bottom: 1.1rem
    &__label
      font-size: 1.2rem
      line-height: 1.428rem
      color: rgba($light, 0.5)
    &__input
      font-size: 1.5rem
      line-height: 138.72%
      color: $light
      border-color: $light
      padding-bottom: 0.4rem
      &-group
        margin-bottom: 5rem
    &__policy
      margin-top: -4.3rem
      &-label
        justify-content: left
    &__button
      width: 100%
      order: 1
      margin-top: 5.2rem
      margin-bottom: -8rem
      font-size: 1.3rem
      line-height: 1.4rem
      padding: 1.4rem 4.3rem
      border-radius: 0
      cursor: pointer
      &:hover
        background-color: $light
        color: $primary
        box-shadow: 0px 5px 15px rgba($primary, 0.3)
  .video
    &__play
      width: 5.5rem
      height: 5.5rem
  .policy
    font-style: normal
    font-weight: normal
    font-size: 1.3rem
    line-height: 1.571rem
    &__checkbox
      &:checked +
        .policy__label
          font-style: normal
          font-weight: normal
          font-size: 1.3rem
          line-height: 1.571rem
  .types
    padding-top: 7rem
  .footer
    background: $dark
    &__wrap
      background: $dark
      margin-top: 0
      padding: 0
    &__title
      font-size: 1.7rem
      margin-bottom: 4.1rem
      &--primary
        max-width: 26.8rem
        font-size: 1.5rem
        line-height: 141.6%
    &__input
      &-group
        flex-basis: 100%
        margin-bottom: 4.79rem
        &--full-width
          margin-bottom: 0.25rem
    &__button
      max-width: 100%
      font-style: normal
      font-weight: 500
      font-size: 1.3rem
      line-height: 1.4rem
      padding: 1.4rem 10.3rem
      border-radius: 0px
    &__block
      display: flex
      flex-direction: column 
    &__info
      width: 100%
      margin-top: 12.5rem
    &__icon
      width: 64px
      height: 42px 
      padding: 0 0.7rem
    &__map
      width: 100%
      height: 10rem 
      order: -1 
  .form
    &__label
      font-size: 1.3rem
      line-height: 1.42rem 
    &__input
      font-size: 1.5rem
      line-height: 1.71rem
      padding: 0.55rem 0 0.5rem 0
      border-bottom: 1px solid $light
  .policy
    margin-bottom: 5.6rem
    &__label--center
      justify-content: flex-start
  .ymaps-2-1-75-map 
    max-height: 255px
@media screen and ( max-width: 320px )
  .footer
    &__button
      max-width: 100%
      font-style: normal
      font-weight: 500
      font-size: 1.3rem
      line-height: 1.4rem
      padding: 1.4rem 4.3rem
      border-radius: 0px